@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(css/404.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#content{
    display: grid;
    justify-content: center;
    margin-top: 15%;
    width: 100%;
}

#content .error{
    margin-top: 25px;
    text-align: center;
    font-size: 4.8rem;
    color: #212529;
    text-shadow: 4px 5px 11px rgba(0,0,0,0.83);
}
#content sub{
    font-size: 4.4rem;
}
#content .description{
    font-weight: bold;
    font-size: 1.5rem;
    display: grid;
    text-align: center;
    color: #f5f5f5;
}
.description .lb01{
    padding-top: 40px;
    text-align: center;
}
#content .error{
    text-transform: uppercase;
}

.description p{
    text-decoration: none;
    padding-top: 10px;
}

/* CSS botão*/
.return{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

button {
    background: #268dda;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 1.4rem;
    color: #fff;
    border: 0.5vh solid black;
    border-radius: 0.8vh;
    box-shadow: 0.1em 0.1em #000;
    cursor: pointer;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.18em 0.18em #000;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #000;
}