
<link rel="stylesheet" href="/css/404.css">
<body style=" background-image: url(/images/404.jpg);">
    <div id="content">
        <div class="error">
            <label>404</label>
        </div>
        <div class="description">
            <label class="lb01">A página não pode ser encontrada</label>
        </div>
        <div class="return">
           <a href="/">  <button class="botao">Voltar para Inicio</button>  </a>
  
        </div>
    </div>
</body>