{{>partials/header}}

<link rel="stylesheet" href="css/projetos.css">


<div class="container">


    <div class="card">
        <img src="/images/abrigo.jpeg" class="card-media"  />
        <div class="card-details">
            <h2 class="card-head"> Abrigo para pessoas de ruas</h2>
            <p>Nossa ONG é focada em abrigar pessoas que estão morando na rua, ensinando a eles se alfabetizar
                e poderem entrar no mercado de trabalho.</p>
            <a href="#">Saiba mais</a>
            
        </div>
    </div>

    <div class="card">
        <img src="/images/clinica.png" class="card-media" width="300px" />
        <div class="card-details">
            <h2 class="card-head">Serviço de terapia e ressocialização ao mercado de trabalho</h2>
            <p>Acolhimento onde ajudamos pessoas em estado de dependencia química, tratamento com muita atividade fisica e cultura.</p>
            <a href="#">Saiba mais</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/cachorro.png" class="card-media" />
        <div class="card-details">
            <h2 class="card-head">Abrigo para animas de rua </h2>
            <p>Espaço onde acolhemos animais em situação de rua, dando a eles um lugar queitinho, com comida e um espaço
                ótimo para o animal ficar brincar.
                Com possibilidade de ser adotado.</p>
                <a href="#">Saiba mais</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/trans.png" class="card-media" />
        <div class="card-details">
            <h2 class="card-head">Casarão Brasil.</h2>
            <p>O Projeto Casarão Brasil visa disponibilizar, por meio desta plataforma digital e de nosso aplicativo, acesso acesso à informação sobre direitos, representatividade, uma ferramenta de denúncias.</p>
            <a href="#">Saiba mais</a>
        </div>
    </div>
</div>
<div class="container">



    <div class="card">
        <img src="/images/mulher.PNG" class="card-media" />
        <div class="card-details">
            <h2 class="card-head">Abrigo para mulheres</h2>
            <p>Lugar onde temos atividades, aula de hidrogínastica, pilates, sessões de terapia, e muito mais.</p>
            <a href="#">Saiba mais</a>
            
        </div>
    </div>

    <div class="card">
        <img src="/images/planta.png" class="card-media" />
        <div class="card-details">
            <h2 class="card-head">Prevenção ao meio ambiente</h2>
            <p>Equipe focada em ações ao favor do meio ambiente, e passando informações de como cuidar do meio ambiente.</p>
            <a href="#">Saiba mais</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/tamar.png" class="card-media" />
        <div class="card-details">
            <h2 class="card-head">Projeto Tamar</h2>
            <p>É uma entidade de direito privado, sem fins lucrativos e co-executora do PAN - Plano Nacional de Ação para a Conservação das Tartarugas Marinhas no Brasil do ICMBio/MMA, sendo responsável por grande parte das ações previstas.</p>
                <a href="#">Saiba mais</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/criancas.jpg" class="card-media" />
        <div class="card-details">
            <h2 class="card-head">Abrigo para crianças em situação de rua</h2>
            <p>Nossa equipe se esforça ao maxímo para passar Acolhimento e muito amor para as crianças.
                Nosso espaço incentiva o esporte e o respeito um ao outro. </p>
            <a href="#">Saiba mais</a>
        </div>
    </div>
</div>

<div class="container">



    <div class="card">
        <img src="/images/combate.png" class="card-media" />
        <div class="card-details">
            <h2 class="card-head"> Abrigo para pessoas de ruas</h2>
            <p>Nossa ONG é focada em abrigar pessoas que estão morando na rua, ensinando a eles se alfabetizar
                e poderem entrar no mercado de trabalho.</p>
            <a href="#">Saiba mais</a>
            
        </div>
    </div>

    <div class="card">
        <img src="/images/vicios.png" class="card-media" />
        <div class="card-details">
            <h2 class="card-head">Reabilitação de pessoas no vicio </h2>
            <p>Acolhimento onde ajudamos pessoas em estado de vicio, tratamento com muita atividade fisica e cultura.</p>
            <a href="#">Saiba mais</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/musica.png" class="card-media" />
        <div class="card-details">
            <h2 class="card-head">Escola de músicas para artistas no anonimato</h2>
            <p>Acolhimento onde ajudamos os artistas a terem um apoio a gravar suas músicas.</p>
                <a href="#">Saiba mais</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/anonymous.png" class="card-media" />
        <div class="card-details">
            <h2 class="card-head">Teatro para jovens</h2>
            <p>Ação a prol de pessoas da periferia.</p>
            <a href="#">Saiba mais</a>
        </div>
    </div>
</div>



{{>partials/footer}}